<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>    
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
  	
  	<div id="layout">
  	
	  	<%= render '/partials/header' %>
	  	
	    <div id="main">
	    	
	    	<section id="content" role="main">
	    		<%= yield %>
	    	</section>
	    	
			<%= render '/partials/sidebar'  %>
	    	
	    </div>

	    
	    <%= render '/partials/footer' %>
    
    </div>

    <script src="/javascripts/global.js"></script>
    
  </body>
</html>
